apiVersion: v1
kind: Service
metadata:
  name: nabula-node-lb
  namespace: nabula-prod-namespace
  labels:
    app.kubernetes.io/name: nabula-node
    app.kubernetes.io/instance: nabula-prod
    app.kubernetes.io/version: "4.9.4"
    environment: production
  finalizers:
    - service.kubernetes.io/load-balancer-cleanup
spec:
  type: LoadBalancer
  selector:
    app: nabula-node
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP